body{
    background: url(https://e1.pxfuel.com/desktop-wallpaper/887/390/desktop-wallpaper-iron-man-comic-cartoon-backgrounds-iron-man-black-and-white.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
   
}

/* navigation */
header > .card-header{
    justify-content: space-evenly;
  }